#!/usr/bin/make -f
# -*- makefile -*-

DH_VERBOSE = 1
MAKEFLAGS += -j4

DEB_HOST_MULTIARCH = $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DESTDIR = $(CURDIR)/debian/tmp/
export LD_LIBRARY_PATH += :$(DESTDIR)/usr/lib/$(DEB_HOST_MULTIARCH)

THE_CMAKE_PARAMS += :-DCMAKE_BUILD_TYPE=RelWithDebInfo
THE_CMAKE_PARAMS += :-DCMAKE_LIBRARY_ARCHITECTURE="$(DEB_HOST_MULTIARCH)"


%:
	dh $@ --builddirectory=build --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
		--buildsystem=cmake \
		$(THE_CMAKE_PARAMS)

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
ifeq ($(DEB_HOST_ARCH),mipsel)
	true # Don't run the tests at all
else
	-LD_LIBRARY_PATH=$(shell realpath $(BUILDDIR))/lib dh_auto_test
endif
endif

override_dh_auto_install:
	dh_auto_install --destdir=$(DESTDIR)

override_dh_missing:
	dh_missing --list-missing

.PHONY: \
	override_dh_auto_configure \
	override_dh_auto_test \
	override_dh_auto_install \
	override_dh_missing
